/* START OF HEADER */
.header {
  padding: 15px 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.header-left-side {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 35px;
}

.header-adress {
  color: white;
  font-style: normal;
  background-color: rgb(255 255 255 / 0.2);
  padding: 0 8px;
  width: fit-content;
  border-radius: 5px;
  display: flex;

  a {
    text-decoration: none;
    margin: auto;
  }
}

.header-right-side {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-right-side-nav {
  .header-right-side-nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;

    height: 100%;

    .header-right-side-nav-list-item {
      color: white;
      .header-right-side-nav-list-item-link {
        height: 100%;
        text-decoration: none;
      }
      .header-right-side-nav-list-item-link:hover {
        color: rgba(255, 113, 67, 1);
      }
    }
  }
}

.header-right-side-button {
  padding: 12px 32px;
  background-color: rgba(255, 113, 67, 1);
  border-color: transparent;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  transition: 1s;
}

.header-right-side-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 1100px) {
  .header {
    padding: 15px 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
  }

  .header-left-side {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .header-logo {
    width: 100px;
    height: 35px;
  }

  .header-adress {
    color: white;
    font-style: normal;
    background-color: rgb(255 255 255 / 0.2);
    padding: 0 8px;
    width: fit-content;
    border-radius: 5px;
    display: flex;

    a {
      text-decoration: none;
      margin: auto;
    }
  }

  .header-right-side {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .header-right-side-nav {
    .footer-right-side-nav-list {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;

      height: 100%;

      .header-right-side-nav-list-item {
        color: white;
        .header-right-side-nav-list-item-link {
          height: 100%;
          text-decoration: none;
        }
        .header-right-side-nav-list-item-link:hover {
          color: rgba(255, 113, 67, 1);
        }
      }
    }
  }

  .header-right-side-button {
    padding: 5px 12px;
    background-color: rgba(255, 113, 67, 1);
    border-color: transparent;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    transition: 1s;
  }

  .header-right-side-button:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

@media (max-width: 760px) {
  .header {
    padding: 15px 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-left-side {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .header-logo {
    width: 100px;
    height: 35px;
  }

  .header-adress {
    color: white;
    font-style: normal;
    background-color: rgb(255 255 255 / 0.2);
    padding: 0 8px;
    width: fit-content;
    border-radius: 5px;
    display: flex;

    a {
      text-decoration: none;
      margin: auto;
    }
  }

  .header-right-side {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .header-right-side-nav {
    .header-right-side-nav-list {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;

      height: 100%;

      .header-right-side-nav-list-item {
        color: white;
        .header-right-side-nav-list-item-link {
          height: 100%;
          text-decoration: none;
        }
        .header-right-side-nav-list-item-link:hover {
          color: rgba(255, 113, 67, 1);
        }
      }
    }
  }

  .header-right-side-button {
    padding: 12px 32px;
    background-color: rgba(255, 113, 67, 1);
    border-color: transparent;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    transition: 0s;

    /* hide button in mobile version */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    z-index: -1;
  }

  .footer-right-side-button:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

/* END OF HEADER */

/* START OF FIRST SECTION */

.first-section {
  background-color: rgba(255, 113, 67, 1);
  color: black;
  padding: 0 400px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  gap: 150px;
}

.first-section-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.first-section-left-side-title {
  font-size: 4em;
  text-align: center;
}

.first-section-left-side-text {
  text-align: center;
}

.first-section-left-side-button-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.first-section-left-side-button-box-first-button {
  padding: 20px 30px;
  color: white;
  background-color: black;
  border-color: transparent;
  border-radius: 5px;
  transition: 1s;
}

.first-section-left-side-button-box-first-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.first-section-left-side-button-box-second-button {
  padding: 20px 30px;
  color: black;
  background-color: white;
  border-color: transparent;
  border-radius: 5px;
  transition: 1s;
}

.first-section-left-side-button-box-second-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.first-section-right-side {
  
  .first-section-right-side-img {
    display: block;
    width: 450px;
    height: 800px;
  }
}

@media (max-width: 1600px) {
  .first-section {
    background-color: rgba(255, 113, 67, 1);
    color: black;
    padding: 0 200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    gap: 150px;
  }

  .first-section-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }

  .first-section-left-side-title {
    font-size: 3.5em;
    text-align: center;
  }

  .first-section-left-side-text {
    text-align: center;
  }

  .first-section-left-side-button-box {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .first-section-left-side-button-box-first-button {
    padding: 20px 30px;
    color: white;
    background-color: black;
    border-color: transparent;
    border-radius: 5px;
    transition: 1s;
  }

  .first-section-left-side-button-box-first-button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .first-section-left-side-button-box-second-button {
    padding: 20px 30px;
    color: black;
    background-color: white;
    border-color: transparent;
    border-radius: 5px;
    transition: 1s;
  }

  .first-section-left-side-button-box-second-button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .first-section-right-side {
    
    .first-section-right-side-img {
      width: 340px;
      height: 700px;
    }
  }
}

@media (max-width: 1100px) {
  .first-section {
    background-color: rgba(255, 113, 67, 1);
    color: black;
    padding: 0 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    gap: 70px;
  }

  .first-section-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }

  .first-section-left-side-title {
    font-size: 3.5em;
    text-align: center;
  }

  .first-section-left-side-text {
    text-align: center;
  }

  .first-section-left-side-button-box {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .first-section-left-side-button-box-first-button {
    padding: 20px 30px;
    color: white;
    background-color: black;
    border-color: transparent;
    border-radius: 5px;
    transition: 1s;
  }

  .first-section-left-side-button-box-first-button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .first-section-left-side-button-box-second-button {
    padding: 20px 30px;
    color: black;
    background-color: white;
    border-color: transparent;
    border-radius: 5px;
    transition: 1s;
  }

  .first-section-left-side-button-box-second-button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .first-section-right-side {
    .first-section-right-side-img {
      width: 340px;
      height: 700px;
    }
  }
}

@media (max-width: 760px) {
  .first-section {
    background-color: rgba(255, 113, 67, 1);
    color: black;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
  }

  .first-section-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .first-section-left-side-title {
    font-size: 3.5em;
    text-align: center;
  }

  .first-section-left-side-text {
    text-align: center;
    font-size: 1.5em;
  }

  .first-section-left-side-button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .first-section-left-side-button-box-first-button {
    padding: 20px 30px;
    color: white;
    background-color: black;
    border-color: transparent;
    border-radius: 5px;
    transition: 1s;
  }

  .first-section-left-side-button-box-first-button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .first-section-left-side-button-box-second-button {
    padding: 20px 30px;
    color: black;
    background-color: white;
    border-color: transparent;
    border-radius: 5px;
    transition: 1s;
  }

  .first-section-left-side-button-box-second-button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .first-section-right-side {
    /* hide image box in mobile version */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    z-index: -1;
    .first-section-right-side-img {
      width: 100%;
      height: 100%;
    }
  }
}

/* END OF FIRST SECTION */

/* START OF SECOND SECTION */

.second-section {
  padding: 70px 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
}

.second-section-container {
  display: flex;
  gap: 10px;
}

.second-section-container-img {
  width: 100px;
  height: 100px;
}

.second-section-container-with-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .second-section-container-with-text-title {
    font-size: 2em;
  }

  .second-section-container-with-text-text {
    font-size: 1.4em;
  }
}

@media (max-width: 1600px) {
  .second-section {
    padding: 70px 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
  }

  .second-section-container {
    display: flex;
    gap: 10px;
  }

  .second-section-container-img {
    width: 100px;
    height: 100px;
  }

  .second-section-container-with-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .second-section-container-with-text-title {
      font-size: 1em;
    }

    .second-section-container-with-text-text {
      font-size: 1em;
    }
  }
}

@media (max-width: 1100px) {
  .second-section {
    padding: 70px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
  }

  .second-section-container {
    display: flex;
    gap: 10px;
  }

  .second-section-container-img {
    width: 80px;
    height: 80px;
  }

  .second-section-container-with-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .second-section-container-with-text-title {
      font-size: 1em;
    }

    .second-section-container-with-text-text {
      font-size: 0.7em;
    }
  }
}

@media (max-width: 760px) {
  .second-section {
    padding: 70px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 60px;
  }

  .second-section-container {
    display: flex;
    gap: 10px;
  }

  .second-section-container-img {
    width: 100px;
    height: 100px;
  }

  .second-section-container-with-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .second-section-container-with-text-title {
      font-weight: normal;
      font-size: 2em;
    }

    .second-section-container-with-text-text {
      font-size: 1em;
    }
  }
}

/* END OF SECOND SECTION */

/* START OF THIRD SECTION */

.third-section {
  padding: 100px 800px;
  background-color: black;
  color: white;
}

.third-section-content {
  display: flex;
  gap: 50px;
  overflow-x: scroll;
}

.third-section-content-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  align-items: center;
  min-width: 100%;
  margin-bottom: 15px;
}

.third-section-content-box-header-img {
  width: 80px;
  height: 18px;
}

.third-section-content-box-text {
  font-size: 3em;
}

.third-section-content-box-author-box {
  .third-section-content-box-author-box-author {
    font-size: 1em;
  }

  .third-section-content-box-author-box-author-adress a {
    text-decoration: none;
    font-style: normal;
    color: rgb(255 255 255 / 0.8);
  }
}

@media (max-width: 2000px) {
  .third-section {
    padding: 100px 600px;
    background-color: black;
    color: white;
  }

  .third-section-content {
    display: flex;
    gap: 50px;
    overflow-x: scroll;
  }

  .third-section-content-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    min-width: 100%;
    margin-bottom: 15px;
  }

  .third-section-content-box-header-img {
    width: 80px;
    height: 18px;
  }

  .third-section-content-box-text {
    font-size: 2.5em;
  }

  .third-section-content-box-author-box {
    .third-section-content-box-author-box-author {
      font-size: 1em;
    }

    .third-section-content-box-author-box-author-adress a {
      text-decoration: none;
      font-style: normal;
      color: rgb(255 255 255 / 0.8);
    }
  }
}

@media (max-width: 1600px) {
  .third-section {
    padding: 100px 400px;
    background-color: black;
    color: white;
  }

  .third-section-content {
    display: flex;
    gap: 50px;
    overflow-x: scroll;
  }

  .third-section-content-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    min-width: 100%;
    margin-bottom: 15px;
  }

  .third-section-content-box-header-img {
    width: 80px;
    height: 18px;
  }

  .third-section-content-box-text {
    font-size: 2.5em;
  }

  .third-section-content-box-author-box {
    .third-section-content-box-author-box-author {
      font-size: 1em;
    }

    .third-section-content-box-author-box-author-adress a {
      text-decoration: none;
      font-style: normal;
      color: rgb(255 255 255 / 0.8);
    }
  }
}

@media (max-width: 1100px) {
  .third-section {
    padding: 100px 100px;
    background-color: black;
    color: white;
  }

  .third-section-content-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }

  .third-section-content-box-header-img {
    width: 80px;
    height: 18px;
  }

  .third-section-content-box-text {
    font-size: 2.5em;
  }

  .third-section-content-box-author-box {
    .third-section-content-box-author-box-author {
      font-size: 1em;
    }

    .third-section-content-box-author-box-author-adress a {
      text-decoration: none;
      font-style: normal;
      color: rgb(255 255 255 / 0.8);
    }
  }
}

@media (max-width: 760px) {
  .third-section {
    padding: 100px 20px;
    background-color: black;
    color: white;
  }

  .third-section-content-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }

  .third-section-content-box-header-img {
    width: 80px;
    height: 18px;
  }

  .third-section-content-box-text {
    font-size: 2em;
  }

  .third-section-content-box-author-box {
    .third-section-content-box-author-box-author {
      font-size: 1em;
    }

    .third-section-content-box-author-box-author-adress a {
      text-decoration: none;
      font-style: normal;
      color: rgb(255 255 255 / 0.8);
    }
  }
}

/* END OF THIRD SECTION */

/* START OF FOURTH SECTION */

.fourth-section {
  padding: 70px 250px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fourth-section-title {
  font-size: 2em;
}

.fourth-section-list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.fourth-section-list-item {
  list-style: none;
  transition: 0.5s;
}

.fourth-section-list-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.fourth-section-list-item:active {
  .fourth-section-list-card-title {
    background-color: blanchedalmond;
  }
}

.fourth-section-list-item-card {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.fourth-section-list-item-card-img-box {
  width: 100%;
  padding: 40px;
  padding-bottom: 0;
  border: 1px solid rgb(0 0 0 / 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
}

.fourth-section-list-card-img {
  display: block;
  width: 100%;
  max-height: 370px;
}

.fourth-section-list-card-title {
  padding: 25px;
  font-size: 1em;
  border: 1px solid rgb(0 0 0 / 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 1600px ) {
  .fourth-section {
    padding: 70px 250px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .fourth-section-title {
    font-size: 2em;
  }
  
  .fourth-section-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .fourth-section-list-item {
    list-style: none;
    transition: 0.5s;
  }
  
  .fourth-section-list-item:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .fourth-section-list-item:active {
    .fourth-section-list-card-title {
      background-color: blanchedalmond;
    }
  }
  
  .fourth-section-list-item-card {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .fourth-section-list-item-card-img-box {
    width: 100%;
    padding: 40px;
    padding-bottom: 0;
    border: 1px solid rgb(0 0 0 / 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
  }
  
  .fourth-section-list-card-img {
    display: block;
    width: 100%;
    max-height: 370px;
  }
  
  .fourth-section-list-card-title {
    padding: 25px;
    font-size: 1em;
    border: 1px solid rgb(0 0 0 / 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 1100px) {
  .fourth-section {
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .fourth-section-title {
    font-size: 2em;
  }

  .fourth-section-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .fourth-section-list-item {
    list-style: none;
  }

  .fourth-section-list-item-card {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .fourth-section-list-item-card-img-box {
    width: 100%;
    padding: 40px;
    padding-bottom: 0;
    border: 1px solid rgb(0 0 0 / 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
  }

  .fourth-section-list-card-img {
    width: 100%;
    max-height: 370px;
  }

  .fourth-section-list-card-title {
    padding: 25px;
    font-size: 1em;
    border: 1px solid rgb(0 0 0 / 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

/* END OF FOURTH SECTION */

/* FOOTER START */

.footer {
  padding: 50px 250px;
  background-color: black;
  display: flex;
}

.footer-left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.footer-logo {
  width: 100px;
  height: 35px;
}

.footer-nav-list {
  display: flex;
  gap: 15px;
}

.footer-nav-list-item {
  list-style: none;
}

.footer-nav-list-item-link {
  text-decoration: none;
  color: white;
}

.footer-nav-list-item-link:hover {
  color: rgba(255, 113, 67, 1);
}

.footer-right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-end;
}

.footer-right-side-button {
  width: 170px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
}

.footer-right-side-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.footer-right-side-social-list {
  display: flex;
  gap: 8px;
}

.footer-right-side-social-list-item {
  list-style: none;
}

.footer-right-side-social-list-item-link {
  display: block;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(255 255 255 / 0.18);
}

.instagram {
  width: 14px;
  height: 14px;
  margin: auto;
}

.twitter {
  width: 16px;
  height: 13px;
  margin: auto;
}

.facebook {
  width: 9px;
  height: 16px;
  margin: auto;
}

@media (max-width: 1100px) {
  .footer {
    padding: 30px 20px;
    background-color: black;
    display: flex;
  }
  
  .footer-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  
  .footer-logo {
    width: 100px;
    height: 35px;
  }
  
  .footer-nav-list {
    display: flex;
    gap: 15px;
    font-size: 0.8em;
  }
  
  .footer-nav-list-item {
    list-style: none;
  }
  
  .footer-nav-list-item-link {
    text-decoration: none;
    color: white;
  }
  
  .footer-nav-list-item-link:hover {
    color: rgba(255, 113, 67, 1);
  }
  
  .footer-right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-end;
  }
  
  .footer-right-side-button {
    width: 170px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
  }
  
  .footer-right-side-button:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .footer-right-side-social-list {
    display: flex;
    gap: 8px;
  }
  
  .footer-right-side-social-list-item {
    list-style: none;
  }
  
  .footer-right-side-social-list-item-link {
    display: block;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgb(255 255 255 / 0.18);
  }
  
  .instagram {
    width: 14px;
    height: 14px;
    margin: auto;
  }
  
  .twitter {
    width: 16px;
    height: 13px;
    margin: auto;
  }
  
  .facebook {
    width: 9px;
    height: 16px;
    margin: auto;
  }
}

@media (max-width: 760px) {
  .footer {
    padding: 20px 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .footer-logo {
    width: 100px;
    height: 35px;
  }
  
  .footer-nav-list {
    display: flex;
    gap: 15px;
  }
  
  .footer-nav-list-item {
    list-style: none;
  }
  
  .footer-nav-list-item-link {
    text-decoration: none;
    color: white;
  }
  
  .footer-nav-list-item-link:hover {
    color: rgba(255, 113, 67, 1);
  }
  
  .footer-right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .footer-right-side-button {
    width: 170px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
  }
  
  .footer-right-side-button:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .footer-right-side-social-list {
    display: flex;
    gap: 8px;
  }
  
  .footer-right-side-social-list-item {
    list-style: none;
  }
  
  .footer-right-side-social-list-item-link {
    display: block;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgb(255 255 255 / 0.18);
  }
  
  .instagram {
    width: 14px;
    height: 14px;
    margin: auto;
  }
  
  .twitter {
    width: 16px;
    height: 13px;
    margin: auto;
  }
  
  .facebook {
    width: 9px;
    height: 16px;
    margin: auto;
  }
}

/* END OF FOOTER */
